body{
  background-color: #000; /* fond noir */
  background-image: url('font.jpg');
  background-size: contain; 
  background-position: center center; /* centrer l'image horizontalement et verticalement */
  background-repeat: no-repeat; /* éviter la répétition de l'image */
  height: 50vh; /* ajuster la hauteur de l'élément pour remplir tout l'écran */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: #fff; /* texte blanc pour un meilleur contraste */
  text-align: center;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* un fond noir transparent pour le contenu */
}
.box {
  margin-top: 400px;
  }



.txt{
  font-family: Arial;
  width: 12em;
  color: white;
  text-align: justify;

}
.bouton{
 font-family: Arial;
 text-decoration: none;
 position: absolute;
 border: none;
 font-size: 20px;
 color: #fff;
 width: 10em;
 height: 2em;
 line-height: 2em;
 text-align: center;
 background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 background-size: 300%;
 border-radius: 15px;
 z-index: 1;
}
#looser{
  margin-top: 300px;
  text-align: unset;
  font-size: 22px;
  padding-left: 50px;
}