body{
  background-color: #000; /* fond noir */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: #fff; /* texte blanc pour un meilleur contraste */
  text-align: center;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* un fond noir transparent pour le contenu */
}
.box {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  }

  .img{
    width: 15em;
    height: auto;

   justify-content: center;
  align-items: center; 


  }



.txt{
  font-family: Arial;
  width: 15em;
  color: white;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bouton{
 font-family: Arial;
 text-decoration: none;
 position: absolute;
 border: none;
 font-size: 20px;
 color: #fff;
 width: 15em;
 height: 2em;
 line-height: 2em;
 text-align: center;
 background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 background-size: 300%;
 border-radius: 15px;
 z-index: 1;
}
#looser{
  margin-top: 300px;
  text-align: unset;
  font-size: 22px;
  padding-left: px;
}
